In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from google.colab import files
upload=files.upload()

Saving weatherHistory.csv to weatherHistory.csv

In [ ]:
df=pd.read_csv("weatherHistory.csv")
df.head()

   Temperature (C)  Apparent Temperature (C)  ...  Pressure (millibars)  Humidity
0         9.472222                  7.388889  ...               1015.13      0.89
1         9.355556                  7.227778  ...               1015.63      0.86
2         9.377778                  9.377778  ...               1015.94      0.89
3         8.288889                  5.944444  ...               1016.41      0.83
4         8.755556                  6.977778  ...               1016.51      0.83

[5 rows x 8 columns]

In [ ]:
df.describe()

       Temperature (C)  ...      Humidity
count     96453.000000  ...  96453.000000
mean         11.932678  ...      0.734899
std           9.551546  ...      0.195473
min         -21.822222  ...      0.000000
25%           4.688889  ...      0.600000
50%          12.000000  ...      0.780000
75%          18.838889  ...      0.890000
max          39.905556  ...      1.000000

[8 rows x 8 columns]

In [ ]:
df.corr()

                          Temperature (C)  ...  Humidity
Temperature (C)                  1.000000  ... -0.632255
Apparent Temperature (C)         0.992629  ... -0.602571
Wind Speed (km/h)                0.008957  ... -0.224951
Wind Bearing (degrees)           0.029988  ...  0.000735
Visibility (km)                  0.392847  ... -0.369173
Cloud Cover                           NaN  ...       NaN
Pressure (millibars)            -0.005447  ...  0.005454
Humidity                        -0.632255  ...  1.000000

[8 rows x 8 columns]

In [ ]:
from sklearn import preprocessing
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split

In [ ]:
weatherfeatures = ["Temperature (C)",	"Apparent Temperature (C)",	"Wind Speed (km/h)",	"Wind Bearing (degrees)",	"Visibility (km)",	"Cloud Cover",	"Pressure (millibars)"]
x=df[weatherfeatures]
y=df.Humidity
x_scaled=preprocessing.scale(x)
poly=PolynomialFeatures(2)
x_final=poly.fit_transform(x_scaled)
x_train,x_test,y_train,y_test=train_test_split(x_final,y,test_size=0.10,random_state=42)

In [ ]:
from sklearn import linear_model
regr=linear_model.Ridge(alpha=0.5)
regr.fit(x_train,y_train)
y_pred=regr.predict(x_test)
y_pred

array([0.50960306, 0.72925125, 0.71929045, ..., 0.51976531, 0.75122021,
       0.71745312])

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
print("Mean-squared-error: %.3f"% mean_squared_error(y_test, y_pred))
print("Coefficient of determination: %.3f" % r2_score (y_test, y_pred))
print("Intercept: ", regr.intercept_)
print("coefficients: ", regr.coef_)

Mean-squared-error: 0.020
Coefficient of determination: 0.479
Intercept:  0.7348885543369204
coefficients:  [ 0.         -0.30343517  0.19023766 -0.02872118  0.00779271 -0.02294079
  0.         -0.00043173]